x64/Debug/windowAPI.tlog/windowAPI.lastbuildstate
x64/Debug/windowAPI.tlog/rc.write.1.tlog
x64/Debug/windowAPI.tlog/rc.read.1.tlog
x64/Debug/windowAPI.tlog/rc.command.1.tlog
x64/Debug/windowAPI.tlog/link.write.1.tlog
x64/Debug/windowAPI.tlog/link.read.1.tlog
x64/Debug/windowAPI.tlog/link.command.1.tlog
x64/Debug/windowAPI.tlog/CL.write.1.tlog
x64/Debug/windowAPI.tlog/CL.read.1.tlog
x64/Debug/windowAPI.tlog/CL.command.1.tlog
x64/Debug/vc141.idb
x64/Debug/stageonescene.obj.enc
